snippet bold "Bold" i
**${0:${VISUAL}}**
endsnippet

snippet i "Italic" i
*${0:${VISUAL}}*
endsnippet

snippet img "Image"
![$1](${0:http://})
endsnippet

snippet table "Table"
| ${1:column1} | ${2:column2} |
|---------|---------|
| value1  | value2  |
endsnippet
