snippet smd
	@media #{$small-and-down} {
		${0}
	}

snippet lgu
	@media #{$large-and-up} {
		${0}
	}

snippet mdu
	@media #{$medium-and-up} {
		${0}
	}

snippet mdd
	@media #{$medium-and-down} {
		${0}
	}

snippet mdo
	@media #{$medium-only} {
		${0}
	}
