snippet smd
	@media #{$small-and-down} {
		${0}
	}

snippet lgu
	@media #{$large-and-up} {
		${0}
	}

snippet mdu
	@media #{$medium-and-up} {
		${0}
	}

snippet mdd
	@media #{$medium-and-down} {
		${0}
	}

snippet mdo
	@media #{$medium-only} {
		${0}
	}

snippet b-m
	@include media($screen-sm-max) {
		${0}
	}

snippet b-d
	@include media($screen-sm) {
		${0}
	}
